{{!--

Handlebars templates look like regular HTML, with embedded handlebars expressions.
A handlebars expression is a {{, some contents, followed by a }}
--}}
{{> header}}

<main>
  <div class="info-container">

    <div class="homepage-icon"><i class="fa fa-list-alt"></i></div>
    <h2>Get organized with ToDoIt.</h2>
    <h3>To log in, select from the list of users below:</h3>

          {{> user-select }}

  </div>
</main>

{{> footer}}
